pipeline/flows/08_azure_taxi.yaml
id: 08_azure_taxi
namespace: zoomcamp

inputs:
  - id: taxi
    type: SELECT
    values: [yellow, green]
    defaults: green

  - id: year
    type: SELECT
    values: ["2019", "2020"]
    defaults: "2019"

  - id: month
    type: SELECT
    values: ["01","02","03","04","05","06","07","08","09","10","11","12"]
    defaults: "01"

variables:
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"

  local_file: "{{ outputs.extract.outputFiles[render(vars.file)] }}"

tasks:

  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    outputFiles:
      - "*.csv"
    commands:
      - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{render(vars.file)}}.gz | gunzip > {{render(vars.file)}}

  - id: upload_to_azure
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - |
        set -e

        ACCOUNT="{{ kv('AZURE_STORAGE_ACCOUNT') }}"
        CONTAINER="{{ kv('AZURE_CONTAINER') }}"
        FILE="{{ outputs.extract.outputFiles[render(vars.file)] }}"
        SAS="{{ kv('AZURE_SAS_TOKEN') }}"

        echo "Uploading $FILE to Azure..."

        ls -lh "$FILE"

        curl -X PUT \
          -T "$FILE" \
          -H "x-ms-blob-type: BlockBlob" \
          "https://${ACCOUNT}.blob.core.windows.net/${CONTAINER}/{{render(vars.file)}}?${SAS}"

        echo "Upload complete"

  - id: purge
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles