pipeline/flows/09_azure_taxi_schedule.yml
id: 09_azure_taxi_scheduled
namespace: zoomcamp

description: |
  Backfill ingestion pipeline for Azure Blob Storage using Kestra schedule triggers.

inputs:
  - id: taxi
    type: SELECT
    values: [yellow, green]
    defaults: green

variables:
  file: "{{inputs.taxi}}_tripdata_{{trigger.date | date('yyyy-MM')}}.csv"

tasks:

  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      file: "{{render(vars.file)}}"
      taxi: "{{inputs.taxi}}"

  # -------------------------
  # EXTRACT STEP
  # -------------------------
  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    outputFiles:
      - "*.csv"
    commands:
      - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{render(vars.file)}}.gz | gunzip > {{render(vars.file)}}

  # -------------------------
  # UPLOAD TO AZURE
  # -------------------------
  - id: upload_to_azure
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - |
        set -e

        ACCOUNT="{{ kv('AZURE_STORAGE_ACCOUNT') }}"
        CONTAINER="{{ kv('AZURE_CONTAINER') }}"
        FILE="{{ outputs.extract.outputFiles[render(vars.file)] }}"
        SAS="{{ kv('AZURE_SAS_TOKEN') }}"

        echo "Uploading $FILE to Azure Blob..."

        ls -lh "$FILE"

        curl -X PUT \
          -T "$FILE" \
          -H "x-ms-blob-type: BlockBlob" \
          "https://${ACCOUNT}.blob.core.windows.net/${CONTAINER}/{{render(vars.file)}}?${SAS}"

        echo "Upload complete"

  # -------------------------
  # CLEANUP
  # -------------------------
  - id: purge
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles

# -------------------------
# BACKFILL TRIGGERS
# -------------------------
triggers:

  - id: green_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 9 1 * *"
    inputs:
      taxi: green

  - id: yellow_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 10 1 * *"
    inputs:
      taxi: yellow